# Node modules
/node_modules/

# Build output
/dist/
/build/

# Logs
*.log

# Dependency directories
/.pnp/
/.pnp.js

# Testing
/coverage/

# Vite cache
.vite/

# Miscellaneous
.DS_Store
*.pem

# Environment files
.env
.env.*.local

# IDE or editor settings
.vscode/
.idea/

# System files
Thumbs.db
